<article class="post-item">
    <a href="{{ .Permalink }}" class="post-link">
        <h4 class="post-item-title">
            {{ .Title }}
        </h4>
        <!-- Display the summary of each post -->
        <p class="post-summary">
            {{ .Params.summary }}
        </p>
        {{/* format date string to create an ISO 8601 string */}}
        {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
        {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
        {{ if .Params.isStarred }}
        <div class="post-item-right">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor" class="icon-star">
                <path d="M16 23.027L24.24 28l-2.187-9.373 7.28-6.307-9.587-.827-3.747-8.827-3.747 8.827-9.587.827 7.267 6.307L7.759 28l8.24-4.973z"></path>
            </svg>
        </div>
        {{ end }}
        <div>
            <small>
                <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
                    {{ time.Format $configDateFormat .Date }}
                </time>
            </small>
        </div>
        {{/* Display up to 5 tags if they exist */}}
        {{ if .Params.tags }}
        <div class="post-tags">
            {{ range first 5 .Params.tags }}
                <span class="post-tag">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </a>
</article>